<p style="color: green"><%= notice %></p>

<%= render @blogs_user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@blogs_user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @blogs_user, method: :delete %>
</div>
